# Maven
/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/wrapper/maven-wrapper.jar
.mvn/jvm.config
HELP.md

# Eclipse
.classpath
.project
.settings/
.sts4-cache/

# VS Code
.vscode/
*.code-workspace

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
.project/

# Log files
*.log
log/
logs/

# Compilation output
*.class

# Package Files #
*.jar
*.war
*.ear

# Temp Files #
*.tmp
*.temp
temp/

# Crash dumps, etc.
hs_err_pid*

# Secret files
application-dev.yml